[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
setfit = "*"
fpdf = "*"
pypdf = "*"
pytest = "*"
python-dotenv = "*"
"pyannote.audio" = "*"
speechbrain = "==0.5.16"
datasets = "*"
logzero = "*"
xlsxwriter = "*"
plotnine = "*"
scikit-learn = "*"
tldextract = "*"
requests-html = "*"
beautifulsoup4 = "*"
lxml = "*"
python-whois = "*"
lxml-html-clean = "*"
googlesearch-python = "*"
faker = "*"
pdftitle = "*"
"pdfminer.six" = "*"
pikepdf = "*"
pymupdf = "*"
xhtml2pdf = "*"
numpy = "*"
transformers = "*"
huggingface-hub = "==0.23.5"

[dev-packages]

[requires]
python_version = "3.9"
